* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.1px solid red; */
  /* font-family: sans-serif; */
  font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

/* header start hear  */

header {
  display: flex;
  padding:0 24px;
}

.headerleft {
  font-size: 50px;
  align-items: center;
}
a {
  display: flex;
  height: 100%;
  align-items: center;
}
svg {
  width: 85px;
  height: 24px;
  fill: #f50514;}
.headerCenter {
  display: flex;
  flex-grow: 1;
}
.headerCenter ul{
    display: flex;
    padding: 10px 180px;
    gap: 12px;
}
.headerCenter li{
    list-style: none;
    font-size: 16px;
}
.headerRight {
  align-items: center;
  font-size: 16px;

}
.headerRight i {
  padding: 11px 15px;
}
/* header endes hear  */


/* main starts hear  */

.card {
  height: 500px;
  max-width:100% ;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/launch/13/1230/13_Tablet.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardtext {
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 30px;
gap: 5px;
}

.card-contener1 .cardtext{
  display: flex;
  flex-direction: column;
  align-items: start;

}

.card-contener1 .cardtext .learn {
  color: black;
}




.card .cardtext p{
  color: white;
  /* font-size: 20px; */

}

.cardtext .aa{
  font-size: 18px;
  color: #1a1a1a;
}

.bb{
  font-size: 32px;
}

.cc{
  font-size: 14px;
  color: #ffffff;
}

.buynow {
  height: 32px;
  width: 81px;
  border-radius: 20px;
  padding: 5px;
  border: none;
  outline: none;
}

.bu{
  display: flex;
  gap: 30px;
}

.learn{
  text-decoration: underline;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 18px;

}
.card2 {
    height: 500px;
    max-width:100% ;
    background-image: url("https://www.oneplus.in/content/dam/oneplus/2025/components/hero-banner/13R_Tablet_0107.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card2 .learn {
    color: black;
  }
  .card2 .buynow ,.buynow{
    background-color: black;
    color: white;
  }

  .card3 {
    height: 500px;
    max-width:100% ;
    background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/product/hero-banner/HeroBanner_NordCE4_Tablet.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card3 .learn,.cc{
    color: black;
  }

section{
    margin-bottom: 8px;
}

.card-contener {
  height: 444px;
  max-width: 100%;
  display: flex;
  padding-inline: 24px;
  padding-top: 56px;
  gap: 16px;
  
}

.card-contenerr {
  height: 150px;
  max-width: 100%;
  display: flex;
  padding-inline:24px ;
  gap: 16px;
}

.card-contener1{
  height: 400px;
 width: 642px;

 background-color: #828282;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/home/1122/new_Light_helpdesk_Tablet.jpg");
}

#card1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/product/product-card/two-column/NordCE4Lite_3colors_Desktop.jpg");
}

#card2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/store/1119/HeroProduct2Cards_Light_OP12R_Desktop.jpg")
}

#card3 {
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/home/1122/HeroProduct2Cards_Dark_Pad2_Desktop.jpg");
}

#card4{
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 background-image: url("https://www.oneplus.in/content/dam/oneplus/2025/components/product-card/two/Guass3color_Desktop.jpg");
}

#card4 .cc{
  color: white;
}

#card6{
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/home/1218/ArticleCard_Light_desk_Tablet.jpg");
}

.card-contener11 {
  height: 100%;
  width: 642px;
  background-color: #FAFAFA;
  padding: 10px;
}

.ppp{
  font-size: 30px;
  margin-bottom: 45px;
}

.pppp {
  margin-bottom: 43px;
}

.card-contener11 button {
  height: 20px;
  width: 80px;
  border-radius: 30px;
  background-color: black;
  color: #FAFAFA;
  margin-top: 20px;
  border: none;
  
}

.pp{
  font-size: 14px;
}


.rating-section {
  height: 277px;
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-card {
   max-width: 344px;
  height: 229px;
  margin: 0px auto;
  padding: 10px 12px;
        max-width: 344px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px -5px 40px 0px, rgba(0, 0, 0, 0.05) 0px 4px 30px 0px;
}

.rating-card h2{
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: normal;
}

.starbox {
  height: 85px;
  width: 284px;
  padding: 5px;
  margin-top: 10px;
  /* border: 0.1px solid gray; */
}

.star {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
  margin-top: 5px;
  gap: 10px;
}

.star svg{
  display: flex;
  justify-content: space-between;
}
.next-holder {
  width: auto;
  display: flex;
  align-items: end;
  justify-content: end;
}
.next {
  height: 30px;
  width: 60px;
  margin-top: 12px;
}

.good{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  color: #828282;
}

.artical-card {
background: #fff;
}

.artical-card img {
  height:426px ;
  width: 640px;

}

.sc{
  height: 494px;
  width: 100%;
  padding: 32px 24px;
  background: #fff;
  display: flex;
}

.scfirst {
  height: 430px;
  width: 860px;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/global/home/1104/ArticleCard_Light_OxygenOS15_Tablet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scsecond {
  height: 430px;
  width: 440px;
  padding: 20px 4px 20px 20px;
  display: flex;
  flex-direction: column;
}

.slogan {
  color: rgba(26, 26, 26, .55);
  font-size: 18px;
  margin-bottom: 15px;
}

.tital-oop {
  color: rgba(26, 26, 26, .95);
  font-size: 25px;
}

.description{
  word-break: keep-all;
  margin-top: 190px;
  font-size: 15px;
}

.scbutton {
  border-radius: 20px;
  /* padding-block: 20px; */
  background-color: #1a1a1a;
  color: white;
  height: 25px;
  width: 100px;
  margin-top: 20px;
}

.sc1 {
  height: 494px;
  width: 100%;
  background-color: black;
  display: flex;
  padding: 32px 24px;
  color: #fff;
  /* background-image: url("./img/Screenshot\ 2025-01-10\ 144116.png"); */
}

.scfirst1 {
  height: 430px;
  width: 860px;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/home/1114/PhotographyAwards_Tablet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan1 {
  color: rgba(243, 233, 233, 0.55);
  font-size: 18px;
  margin-bottom: 15px;
}

.tital-oop1 {
  color: rgba(223, 213, 213, 0.95);
  font-size: 25px;
}

.scbutton1 {
  border-radius: 20px;
  /* padding-block: 20px; */
  background-color: white;
  color: black;
  height: 25px;
  width: 100px;
  margin-top: 20px;
}

.sc2 {
  height: 494px;
  width: 100%;
  /* background-image: url("./img/Screenshot\ 2025-01-10\ 144452.png"); */
}

.scsecond2 {
  height: 430px;
  width: 860px;
  background-image: url("https://www.oneplus.in/content/dam/oneplus/2024/in/home/1114/PhotographyAwards_Tablet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.black{
  background-color: rgb(39, 38, 38);
}

.foot {
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding-right: 65px;
  padding-left: 65px;
}

.boox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;


}

.boox .box {
  width: 30%;
  height: 80%;
  color: white;
  padding-left: 15px;
  padding-top: 20px;

}

.boox .img {
  width: 60%;
  height: 80%;
  background-image: url(https://www.oneplus.in/content/dam/oneplus/2024/eu/home/0929/RCC_Desktop.jpg);
  background-position: center;
  background-size: cover;


}

.black2 {
  height: 500PX;
  width: 100%;
}

/* .main8 {
  width: 100%;
  height: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .photo {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  /* position: relative;
  left: 40px; */
} */

footer{
  height: 568px;
  width: 100%;
  background-image: url("./img/Screenshot\ 2025-01-10\ 144846.png");
}


.footer {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: black;
  color: white;

  .sec1 {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: flex-start;
      padding: 40px;
  }

  .sec2 {
      width: 99%;
      height: 40%;
      gap: 1%;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      /* align-items: center; */



      .child3:first-child {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;


          .img {
              width: 100%;
              height: 100%;
              background-image: url(https://image01.oneplus.net/media/202407/01/3366ee472982bff9a48adcc3d672fb46.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              .text {
                  width: 50%;
                  height: 100%;
                  position: relative;
                  padding: 20px;

                  h1 {
                      margin-top: 20px;
                  }

                  p {
                      margin-top: 20px;
                  }

                  button {
                      margin-top: 100px;
                      margin-left: 20px;
                      text-align: center;
                      height: 50px;
                      width: 240px;
                      border: 0.5px solid white;
                  }
              }
          }
      }

      .child3:nth-child(2) {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          input {
              width: 240px;
              height: 30px;
              color: white;
              background-color: #171717;
          }

          .img {
              width: 100%;
              height: 100%;
              background-image: url(https://image01.oneplus.net/media/202407/01/c10284f22fcce8ee1a30afae8dc7c973.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              .text {
                  width: 50%;
                  height: 100%;
                  position: relative;
                  padding: 20px;

                  h1 {
                      margin-top: 20px;
                  }

                  p {
                      margin-top: 20px;
                  }

                  input {
                      margin-top: 120px;
                      margin-left: 20px;
                      text-align: center;
                      height: 50px;
                      width: 240px;
                      border: 0.5px solid white;
                  }
              }
          }
      }
  }

  .sec3 {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: space-between;
      padding: 60px;

      .child4 {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h3 {
              font-size: 16px;
              font-weight: 500;
          }

          p {
              color: gray;
              font-size: 14px;
          }
      }
  }

  .sec4 {
      display: flex;
      justify-content: space-between;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 14px;
      color: grey;

      .p1 {
          display: flex;
          gap: 15px;
      }

      .p2 {
          display: flex;
          gap: 15px;
      }
  }
  .child4 p:hover{
      color: white;
  }

  hr {
      margin-top: 10px;
       margin-inline: 60px;
       margin-top: 30px;
      border: 1px solid grey;
      
  }
  .foot{
      display: flex;
      justify-content: space-between;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 14px;
      color: grey;
      .p1{
          display: flex;
          gap: 15px;
      }
      .p2 {
          display: flex;
          gap: 15px;
      }
  }
}

































































































/* .swiper-horizontal {
  touch-action: pan-y;
}

.cmp__article-card .cmp__article-card__container.card-more {
  display: flex
;
  align-items: stretch;
}
.cmp__article-card .cmp__article-card__container {
  max-width: 1792px;
  margin: 0 auto;
}

.cmp__article-card__container .article-card__item .article-card__container {
  display: flex
;
  flex-direction: column;
  justify-content: space-between;
} */








